
* {
    margin: 0px;
    outline: none;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    width:100vw;
    height: 100vh;
    background: linear-gradient(45deg,#051419,black,#05161C,#05181F,black,#051A22,#051D25,#052029,black,#06232D,#072631,black);
    background-size: 800% 800%;
    /* animation: bodybg 15s linear infinite;
    animation-direction: alternate; */
    font-family:  'Roboto', sans-serif;
}
/* @keyframes bodybg {
    0% {background-position: left}
    100% {background-position: right}
} */
#tableDiv{
    position: relative;
    width: 60%;
    height: 80%;
    background-image: url("../images/table.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index:15;
}
#bgStars{
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 8%;
    z-index: 10;
}
#dealerCards{
    position: absolute;
    top: 12%;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardImg{
    margin: 5px;
    height: 90%;
    width: auto;
}
#playerCards{
    position: absolute;
    top: 48%;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons{
    position: absolute;
    top: 70%;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
}
#buttonHit{
    width: 12%;
    height: 30%;
    background: radial-gradient(#3C860B, black);
    margin: 10px 20px 10px 20px;
    border: none;
    box-shadow: 5px 10px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cac9c9;
    font-size: 0.8vw;
    font-weight: bold;
}
#buttonHit:hover {
    border: 1px groove;
    border-color: goldenrod;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-shadow: 2px 2px 5px black;
    font-size: 1.1vw;
}
#buttonHit:disabled {
    border: 1px groove;
    border-color: rgb(226, 46, 46);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-shadow: 2px 2px 5px black;
    cursor: not-allowed;
}
#buttonStand{
    width: 12%;
    height: 30%;
    background: radial-gradient(#AB3717, black);
    margin: 10px 20px 10px 20px;
    border: none;
    box-shadow: 5px 10px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cac9c9;
    font-size: 0.8vw;
    font-weight: bold;
}
#buttonStand:hover {
    border: 1px groove;
    border-color: goldenrod;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
    font-size: 1.1vw;
}
#buttonStand:disabled {
    border: 1px groove;
    border-color: rgb(226, 46, 46);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-shadow: 2px 2px 5px black;
    cursor: not-allowed;
}

#buttonAgain{
    width: 12%;
    height: 30%;
    background: radial-gradient(#6b6b6b, black);
    margin: 10px 20px 10px 20px;
    border: none;
    box-shadow: 5px 10px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cac9c9;
    font-size: 0.8vw;
    font-weight: bold;
}
#buttonAgain:hover {
    border: 1px solid;
    border-color: gray;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
    font-size: 1.1vw;
}
#buttonAgain:disabled {
    border: 1px groove;
    border-color: rgb(226, 46, 46);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    text-shadow: 2px 2px 5px black;
    cursor: not-allowed;
}
#buttonRestart{
    width: 12%;
    height: 50%;
    background: radial-gradient(#3C860B, black);
    margin: 10px 20px 10px 20px;
    border: none;
    box-shadow: 5px 10px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cac9c9;
    font-size: 0.7vw;
}
#buttonRestart:hover {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
}
#messageText{
    color: rgb(167, 204, 0);
    font-weight: bold;
    position: absolute;
    top: 36%;
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    text-shadow: 2px 2px 5px black;
    z-index: 20;
}
#shadowDiv{
    position: absolute;
    top: 36%;
    height: 8%;
    width: 100%;
    background-color: #051419;
    opacity: 40%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: gray;
    box-shadow: inset 0 0 10px rgba(32, 27, 27, 0.5), 0 0 20px rgba(15, 14, 14, 0.2);
    text-shadow: 2px 2px 5px black;
    border-radius: 8%;
    z-index: 10;
}

#topText{
    color: gold;
    font-weight: bold;
    position: absolute;
    top: 6%;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
#playerText{
    color: #370617;
    font-weight: bold;
    position: absolute;
    top: 44%;
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}
#dealerText{
    color: #370617;
    font-weight: bold;
    position: absolute;
    top: 32%;
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}
#bottom1{
    position: absolute;
    top: 90%;
    height: 5%;
    width: 100%;
}
#bottom2{
    position: absolute;
    top: 95%;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
    color: rgb(173, 173, 173);
}
.buttonStart{
    width: 8%;
    height: 30%;
    background: radial-gradient(rgb(163, 1, 1), black);
    margin: 10px 20px 10px 20px;
    border: none;
    box-shadow: 5px 10px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cac9c9;
    font-size: 0.7vw;
    font-weight: bold;
    border-radius: 30%;
}
.buttonStart:hover {
    border: 1px solid;
    border-color: gray;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    text-shadow: 2px 2px 5px black;
    cursor: pointer;
    font-size: 0.9vw;
}
#welcome{
    text-align: center;
    font-size: 1.1vw;
    color: rgb(204, 235, 67);
}
#dealerPoints{
    margin-left: 10px;
    color: lightgray;
    border: 1px solid rgb(3, 87, 17);
    padding: 0px 5px 0px 5px;
    box-shadow: 1px 1px 2px black;
    font-size: 1.1vw;
    background-color: #163103;
}
#playerPoints{
    margin-left: 10px;
    color: lightgray;
    border: 1px solid rgb(3, 87, 17);
    padding: 0px 5px 0px 5px;
    box-shadow: 1px 1px 2px black;
    font-size: 1.1vw;
    background-color: #163103;
}
#pointsText{
    color: darkgrey;
    font-size: 0.8vw;
    font-weight: bold;
    position: absolute;
    top: 2%;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
}
#playerCreditsElement{
    border: 1px solid black;
    padding: 1px 5px 1px 5px;
    box-shadow: 2px 2px 5px black;
    display: inline;
    background-color: rgb(0, 0, 0);
    color: green;
}
#dealerCreditsElement{
    border: 1px solid black;
    padding: 1px 5px 1px 5px;
    box-shadow: 1px 1px 5px black;
    display: inline;
    background-color: rgb(0, 0, 0);
    color: orange;
    margin-right:20px;
}
#bet{
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(151, 150, 150);
    font-size: 0.8vw;
}
#playerWinsElement{
    padding: 1px 5px 1px 5px;
    display: inline;
    color: rgb(151, 150, 150);
}
#dealerWinsElement{
    padding: 1px 5px 1px 5px;
    display: inline;
    color: rgb(151, 150, 150);
}

